html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  touch-action: manipulation;
}
div.whole {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
div.leftside {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: relative; /* for overlay leftside and search */
}
div.tabs {
  height: 70%;
}
div.tab_content {
  height: 90%;
}
div#segments_content {
  overflow: scroll;
}
#raw_times_content > textarea, #output_content > textarea {
  /*margin: 0;
  padding: 0; */
  height:90%;
  width: 100%;
}
div#player_container {
  width: 100%;
  height: 20%;
  overflow: scroll;
}
div#player {
  width: 100%;
  /*height:100%;*/
}
input#video_url {
  width: 90%;
  box-sizing: border-box;
}


div#info {
  display: flex;
  flex-direction: column;

  /* for overlay */
  position: absolute;
  top: 90%;

  width: 100%;
  height: 10%;
  overflow: scroll;
  background-color: #AACCFF;

}
div.load_video {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}


table {
  width: 100%;
}
thead, tbody{
  /*font-size: 14px;*/
}
thead {
  text-align: center;
}
tbody {
  height: 100px;
  overflow-y: scroll;
}
th {
  position: sticky;
  top: 0;
  left: 0;
  border: solid #000000 1px;
  background-color: #AACCFF;
}
td {
  border: solid #000000 1px;
  background-color: #EEEEEE;
}
div.time {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* time input styles */
div.time_input > input {
  width: 4em;
  font-size: medium;
}
div.time_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button.fa-minus,button.fa-plus {
}
div.name > input, div.artist > input {
  width: 90%;
}
div.name , div.artist {
  display: flex;
  justify-content: flex-end;
}



/* # Tab
https://bagelee.com/design/css/create_tabs_using_only_css/
*/

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  /*padding: 40px 40px 0;*/
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#segments:checked ~ #segments_content,
#output:checked ~ #output_content,
#raw_times:checked ~ #raw_times_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}
