<!DOCTYPE html>
<html>
  <head>
      <title>timestamp tagger</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

      <link href="css/<%= css %>" type="text/css" rel="stylesheet" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div class="whole">

      <div class="leftside">
        <div id="player_container">
          <div id="player"></div>
        </div>

        <div class="tabs">
          <input id="raw_times" type="radio" name="tab_item" checked>
            <label class="tab_item" for="raw_times">Load raw times data |</label>
          <input id="segments" type="radio" name="tab_item">
            <label class="tab_item" for="segments">Tag the songs |</label>
          <input id="output" type="radio" name="tab_item" onclick="show_output(event);">
            <label class="tab_item" for="output">Output</label>

          <div class="tab_content" id="segments_content">
            <!--<table class="tablecss">
              <thead>
                <tr>
                <th class="no">No.</th>
                <th class="start">Start</th>
                <th class="end">End</th>
                <th class="length">Length</th>
                <th class="name">Song name</th>
                <th class="artist">Artist</th>
                </tr>
              </thead>
              <tbody id="stamps"></tbody>
            </table>-->
            <%= table %>
          </div>
          <div class="tab_content" id="raw_times_content">
            <textarea id="raw_times_input"></textarea>
            <button id="raw_times_btn" onclick="load_segments(event);">Load</input>
          </div>
          <div class="tab_content" id="output_content">
            <textarea></textarea>
          </div>
        </div>

      </div>

      <%= search  %>
    </div>
    <!--<button onclick="playVideo()">start</button>-->


    <!--A<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
    <!--<script src="https://www.youtube.com/iframe_api"></script>-->
    <script src="js/utils.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

