<!DOCTYPE html>
<html>
  <head>
      <title>timestamp tagger</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

      <link href="css/common.css" type="text/css" rel="stylesheet" />
      <link href="css/<%= css %>" type="text/css" rel="stylesheet" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div class="whole">

      <div class="leftside">
        <div id="player_container">
          <div id="player"></div>
        </div>

        <div class="tabs">
          <input id="raw_times" type="radio" name="tab_item" checked>
          <input id="segments"  type="radio" name="tab_item">
          <input id="output"    type="radio" name="tab_item" onclick="show_output(event);">

          <div class="tabbar">
            <div class="tab_item"> <label class="tab_item" for="raw_times">Load raw times data |</label> </div>
            <div class="tab_item"> <label for="segments">Tag the songs |</label> </div>
            <div class="tab_item"> <label for="output">Output</label> </div>
          </div>

          <div class="tab_content" id="segments_content">
            <div id="seg_wrapper" class="content_wrapper">
            <% if not is_mobile then %>
              <div class="uis">
                <input id="video_url" type="text" value="M7lc1UVf-VE" placeholder="YouTube video URL"></input>
                <button id="load_video" class="fa-brands fa-youtube" onclick="update_video(event);"></button>
                <button id="delete_item" class="fa-solid fa-trash" onclick="delete_item_handle(event);"></button>
                <button id="add_item"  class="fa-solid fa-plus" style="height: 100%;" onclick="add_item(event);"></button>
                <button id="sort_item" class="fa-solid fa-sort" style="height: 100%;" onclick="sort_item();"></button>
              </div>
            <% end %>
              <div id="table_wrapper">
                <%= table %>
              </div>
            </div>
          </div>
          <div class="tab_content" id="raw_times_content">
            <div id="seg_wrapper" class="content_wrapper">
              <textarea id="raw_times_input"></textarea>
              <button id="raw_times_btn" onclick="load_segments(event);">Load</input>
            </div>
          </div>
          <div class="tab_content" id="output_content">
            <textarea></textarea>
          </div>
        </div>

      </div>

      <%= search  %>
    </div>
    <!--<button onclick="playVideo()">start</button>-->


    <!--A<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
    <!--<script src="https://www.youtube.com/iframe_api"></script>-->
    <script src="js/utils.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/handlers.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

