<!DOCTYPE html>
<html>
  <head>
      <title>timestamp tagger</title>
      <meta charset="utf-8">
  </head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div class="whole">

      <div class="leftside">
        <div id="player_container">
          <div id="player"></div>
          <div>
            <input id="video_url" type="text" value=""></input>
            <button id="load_video" onclick="update_video(event);">Load video</input>
          </div>
        </div>

        <div class="tabs">
          <input id="raw_times" type="radio" name="tab_item" checked>
            <label class="tab_item" for="raw_times">Load raw times data |</label>
          <input id="segments" type="radio" name="tab_item">
            <label class="tab_item" for="segments">Tag the songs |</label>
          <input id="output" type="radio" name="tab_item" onclick="show_output(event);">
            <label class="tab_item" for="output">Output</label>

          <div class="tab_content" id="segments_content">
            <table class="tablecss">
              <thead>
                <tr>
                <th class="no">No.</th>
                <th class="start">Start</th>
                <th class="end">End</th>
                <th class="length">Length</th>
                <th class="name">Song name</th>
                <th class="artist">Artist</th>
                </tr>
              </thead>
              <tbody id="stamps"></tbody>
            </table>
          </div>
          <div class="tab_content" id="raw_times_content">
            <textarea id="raw_times_input"></textarea>
            <button id="raw_times_btn" onclick="load_segments(event);">Load</input>
          </div>
          <div class="tab_content" id="output_content">
            <textarea></textarea>
          </div>
        </div>
      </div>

      <div id="search">
        <div>
          <li>1. "Load raw times data"に "開始時刻 終了時刻... (改行区切り)"のテキストを貼り付け</li>
          <li>2. "Tag the songs"で各区間の曲名を入力。"Song name"のテキストフォームに入力した状態でCtrl+Enterで検索。</li>
          <li>3. "Output"でYouTubeコメント貼り付け用テキスト生成。</li>
        </div>
      </div>
    </div>
    <!--<button onclick="playVideo()">start</button>-->


    <link href="css/style.css" type="text/css" rel="stylesheet">
    <!--A<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
    <!--<script src="https://www.youtube.com/iframe_api"></script>-->
    <script src="js/utils.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

