<div id="search">
  <div>
    <li>1. "YouTube video URL"対象YouTubeビデオのURL貼り付けて、ロード</li>
    <li>2. "Load raw times data"に "開始時刻 終了時刻... (改行区切り)"のテキストを貼り付け、Loadボタン押下</li>
    <li>3. "Tag the songs"で各区間の曲名を入力。"Song name"のテキストフォームに任意の言葉入力した状態でCtrl+Enterで検索も可能。</li>
    <li>4. "Output"でYouTubeコメント貼り付け用テキスト生成。</li>
  </div>
</div>
