<% if is_mobile then %>
<table class="tablecss">
  <thead>
    <tr>
    <th class="no">No.</th>
    <th class="item">Item</th>
    </tr>
  </thead>
  <tbody id="stamps"></tbody>
</table>
<% else %>
<table class="tablecss">
  <thead>
    <tr>
    <th class="no">No.</th>
    <th class="start">Start</th>
    <th class="end">End</th>
    <th class="length">Length</th>
    <th class="name">Song name</th>
    <th class="artist">Artist</th>
    </tr>
  </thead>
  <tbody id="stamps"></tbody>
</table>
<% end %>
