<div class="yt_ui_container">
  <button id="yt_backward_fast" class="yt_ui fa-solid fa-backward-fast" onclick=";"></button>
  <button id="yt_backward"      class="yt_ui fa-solid fa-backward-fast" onclick=";"></button>
  <button id="yt_playpause"     class="yt_ui fa-solid fa-play"          onclick=";"></button>
  <button id="yt_forward_fast"  class="yt_ui fa-solid fa-forward-fast"  onclick=";"></button>
  <button id="yt_forward"       class="yt_ui fa-solid fa-forward-fast"  onclick=";"></button>
</div>
